/* init */
:root{
    --primary-white: #FFFFFF;
    --secondary-white: #E2E2E2;
    --primary-black: #000000;
    --secondary-black: #161616;
    --tertiary-black: #030303; 
    
    --font-xs: 0.5em;
    --font-ps: 0.75em;
    --font-sm: 1em;
    --font-md: 1.25em;
    --font-lg: 1.5em;
    --font-xl: 1.75em;
    --font-2xl: 2em;
    --font-3xl: 2.25em;
    --font-4xl: 2.5em;
    --font-5xl: 2.75em;
    --font-6xl: 3em;
    --font-7xl: 3.5em;
    --font-8xl: 4.25em;
    --font-9xl: 5em;

    .black-text{
        color: var(--primary-black);
    }
    
    .white-text{
        color: var(--primary-white);
    }

    .fs-xs{
        font-size: var(--font-xs);
    }
    .fs-ps{
        font-size: var(--font-ps)
    }
    .fs-sm{
        font-size: var(--font-sm);
    }
    .fs-md{
        font-size: var(--font-md);
    }
    .fs-lg{
        font-size: var(--font-lg);
    }
    .fs-xl{
        font-size: var(--font-xl);
    }
    .fs-2xl{
        font-size: var(--font-2xl);
    }
    .fs-3xl{
        font-size: var(--font-3xl);
    }
    .fs-4xl{
        font-size: var(--font-4xl);
    }
    .fs-5xl{
        font-size: var(--font-5xl);
    }
    .fs-6xl{
        font-size: var(--font-6xl);
    }
    .fs-7xl{
        font-size: var(--font-7xl);
    }
    .fs-8xl{
        font-size: var(--font-8xl);
    }
    .fs-9xl{
        font-size: var(--font-9xl);
    }
}

/* body */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: var(--secondary-black);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--primary-white);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-rectangle {
    background-color: var(--primary-black);
    width: 93%;
}

/* flex */

.flex-container {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.centered {
    justify-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.flex-warp {
    flex-wrap: wrap;
}

/* header */

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: var(--secondary-white);
}

.header {
    margin: 1% 7.5%;
    display: flex;
    align-items: center;
}

.header .header-logo {
    width: 12%;
    height: 12%;
    border-radius: 20%;
}

.header .header-link {
    text-decoration: none;
    white-space: nowrap;
    color: var(--black);
    font-size: var(--font-xl);
    margin-left: 2%;
    font-family: Krona One, sans-serif;
}

.header .header-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary-black);
}

/* top site */

#top-site {
    width: 100%;
}

.top-title {
    padding-top: 8%;
    padding-bottom: 2%;
    justify-content: space-evenly;
}

.top-title img {
    width: 10%;
    height: 10%;
    border-radius: 30%;
}

.title {
    font-size: var(--font-6xl);
    font-family: Krona One, sans-serif;
    font-weight: 200;
    color: var(--secondary-white)
}

.top-title div h2 {
    letter-spacing: 0.1em;
}

.top-title div h1 {
    font-size: var(--font-xl);
    letter-spacing: 0.1em;
    font-family: Krona One, sans-serif;
    color: var(--secondary-white);
    margin-left: 5%;
}

.top-image {
    position: relative; 
}

.top-image img {
    width: 100%;
}

.overlay {
    position: absolute;
    background-color: rgba(3, 3, 3, 0.5);
    color: var(--primary-white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0% 5%;
}

.overlay-txt {
    font-family: IM Fell English, serif;
    background-color: rgba(22, 22, 22, 0.5);
    font-size: var(--font-8xl);
    font-weight: 100;
    text-align: center
}

/* line */

.line {
    margin: 10% 0%;
    width: 80%;
}

/* mission site */

.mission {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.mission img {
    width: 45%;
    height: 45%;
}

.mission p {
    padding-right: 5%;
    font-size: var(--font-4xl);
    text-align: right;
}

/* events site */

.events h1 {
    font-family: Krona One, sans-serif;
    font-size: var(--font-3xl);
    color: var(--primary-white);
    margin-bottom: 5%;
}

.events-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40%;
    overflow: hidden;
}

.events-box-fill {
    margin: 0;
    background-color: var(--secondary-black);
    width: 50%;
    border-radius: 0% 0% 2em 2em;
}

.events-box-fill-txt {
    text-align: center;
    font-size: var(--font-md);
}

.events-box-top {
    background-color: var(--primary-white);
    width: 15em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em 2em 0 0;
}

.events-box-top-txt {
    margin: 0;
    font-family: Krona One, sans-serif;
    font-weight: 200;
    font-size: var(--font-xl);
    color: var(--primary-black);
    text-align: center;
}

/* winner */

.winner {
    width: 80%;
    margin-top: 15%;
    justify-content: space-evenly;
}

.winner-pic {
    margin-right: 5%;
    width: 31%;
    border: 0.5em solid var(--secondary-black);
}

.winner-desc {
    height: 30%;
    width: 60%;
}

.winner-title {
    margin: 0;
    font-family: Krona One, sans-serif;
    font-size: var(--font-7xl);
}

.winner-subtitle {
    margin: 0;
    font-family: Krona One, sans-serif;
    font-weight: 300;
    font-size: var(--font-md);
}

.winner-text {
    font-size: 1.65em;
}

/* timeline */

.timeline h1 {
    font-family: Krona One, sans-serif;
    font-size: var(--font-3xl);
    color: var(--primary-white);
    margin-bottom: 10%;
}

.timeline-content {
    width: 50em;
    align-items: center;
}

.timeline-content {
    overflow: hidden;
}

.timeline-box-right {
    margin: 0 0 5% 0;
    padding: 0 0.5em 0 0;
    justify-content: flex-end;
    border-radius: 2em;
    background-color: var(--secondary-black);
    width: 40em;
    align-items: center;
    max-height: 5em;
}

.timeline-box-right-txt {
    font-family: Krona One, sans-serif;
    font-size: 1.55em;
    font-weight: 400;
}

.timeline-box-left {
    margin: 0 1em 0 0;
    padding: 0 0.5em 0 0.5em;
    width: 10em;
    border-radius: 2em;
    background-color: var(--secondary-white);
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 5em;
}

.timeline-box-left-txt {
    font-family: Krona One, sans-serif;
    font-size: 1.55em;
    font-weight: 400;
    text-align: center;
    color: var(--primary-black);
}

.timeline-coming-soon {
    font-size: 1.5em;
}

/* partners */

.partners {
    margin-top: 10%;
}

.partners-title {
    font-family: Krona One, sans-serif;
    font-size: var(--font-3xl);
    color: var(--primary-white);
}

.partners-img {
    margin-top: 5%;
    width: 20%;
}

/* contact us */

.contact-us {
    width: 61.5em;
}

.contact-us-txt {
    width: 45%;
}

.contact-us-content {
    justify-content: space-between;
}

.contact-us-whatsapp {
    align-items: center;
}

.whatsapp {
    width: 2em;
    height: 2em;
}

.contact-us-location {
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.location {
    width: 2em;
    height: 2em;
}

/* copyrighto */

.copyrighto {
    margin-top: 10%;
    width: 80%;
    font-size: var(--font-sm);
}